/* Your CSS styles go here */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    margin: 20px;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

section {
    padding: 20px;
    text-align: center;
}

form {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

.rating {
    text-align: center;
}

.img1{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap:wrap;
}

.img2{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap:wrap;
    margin-left: 250px;
    margin: top 1.5rem;
}

.img3{
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap:wrap;
}

.logo{
    width: 5%;
    height: 5%;
    object-fit: cover;
    border-radius: 50%;
}

.image-container img{
   float:left;
   height:300px;
   width: 300px;;
   margin:0 1%;
}

textarea {
   
    font-size: 16px;
    resize: none;
  }

